# Compiler files
cache/
out/
artifacts/
forge-cache/

# Ignores development broadcast logs
# !/broadcast
deployments
broadcast
!/broadcast/*/1/

# Docs
docs/

# Dotenv file
.env

.idea/
.github/
node_modules/

.vscode
.DS_Store
pnpm-lock.yaml

coverage

# contracts
abi
typechain
!./script/out

# converage
lcov.info

# forge lib folder
/lib/
